<div class="container py-5">
    
    <div class="row">
         <h3 class="mx-auto">Welcome to {{ title }}!</h3>
        <div class="col-md-12">
           
            <div class="row">
                
                <div class="col-md-6 mx-auto">
                    
                    <!-- form card login -->
                    <div class="card rounded-0">
                        <div class="card-header">
                            <h5 class="mb-0">Please Make A Selection:</h5>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST">
                                
                                <table class="table table-borderless">
    
                                    <tbody>
                                      <tr>
                                        <td>Coffee</td>
                                        <td>

                                            <div class="input-group-append">
                                                <button class="btn btn-success" type="submit">Make Selection</button> 
                                            </div>  
                                        </td>

                                      </tr>
                                      <tr>
                                        <td>Decaf Coffee</td>
                                        <td>
                                            <div class="input-group-append">
                                                <button class="btn btn-success" type="submit">Make Selection</button> 
                                            </div>   
                                        </td>

                                      </tr>

                                    </tbody>
                                </table>
                                
                                
                                <div>
                                    <label class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input">
                                      <span class="custom-control-indicator"></span>
                                      <span class="custom-control-description small text-dark">Remember me on this computer</span>
                                    </label>
                                </div>
                                
                            </form>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->

                </div>


            </div>
            <!--/row-->

        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->